html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline; 

}



 /* --- 1: BANNER --- */

/* ##### ANIMATIONS ##### */

@keyframes blurin-intro {
  from { filter: blur(12.5px); }
  to   { filter: blur(0px); }
}

#banner-section {

  width: 100vw;
  height: 100vh;

}

.gameplay-background {

  background-size:cover;
  background-image:url("../../images/banner.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.full {

  width: 100%;
  height: 100%;

}

.half {

  width: 50%;
  height: 50%;

}

.logo {

  width: 50%;
  
} 

@media screen and (max-width: 1080px) {

  .logo{

    width: 95%;

  }

}

/* --- 3: LINKS --- */

.icon {

  transition: transform 0.2s; 
  margin: 0px 0px;
  border-radius: 25px;
  padding: 10px 100px;
 
  filter: drop-shadow(3px 3px 0px white);

}

@media screen and (max-width: 1080px) {

  .icon {
    width: 90vw;
    padding: 0px 0px;
  
  }

  .icon img {
    width: 80%;
  }

}
.icon:hover {

  transform: scale(1.1);
  

}

 /* --- TEXT --- */

h2 {

  text-align: center;
  font-size: 2vw;
  margin-top: 60px;
  font-weight: bold;
  font-style: italic;
  color: black;

} @media screen and (max-width: 1080px) {

  h2 {
    font-size: 25px;
  }

}

a:link, a:visited { text-decoration: none; }

a { color: black; }

a { 
  font-size: 1vw;
  }

@media screen and (max-width: 1080px) {

    a {
      font-size: 25px;
    }
  
}
  

.handwriting { font-family: 'Gochi Hand', cursive; }


/*btn_background*/
