html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {

  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline; 

}



 /* --- 1: BANNER --- */

/* ##### ANIMATIONS ##### */

@keyframes blurin-intro {
  from { filter: blur(12.5px); }
  to   { filter: blur(0px); }
}

#banner-section {

  width: 100vw;
  height: 100vh;

}

#banner2-section {

  width: 120vw;
  height: 40vh;

}


.gameplay-background {
  background-size:cover;
  background-image:url("../../images/banner3.gif");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.full {

  width: 100%;
  height: 100%;

}

.half {

  width: 50%;
  height: 50%;

}

.logo {

  width: 50%;
  margin-bottom: 50px;
  filter: drop-shadow(5px 5px 0px red) drop-shadow(5px 5px 0px black);
  
} 

@media screen and (max-width: 1080px) {

  .logo{

    width: 95%;
    content: url("../../images/futura-mobile.png");
    filter: drop-shadow(2px 2px 0px red) drop-shadow(2px 2px 0px black);

  }

}

.twitter {
  width: 20%;
  margin-left: 100px;
  filter: drop-shadow(2px 2px 0px white) drop-shadow(2px 2px 0px white) drop-shadow(2px 2px 0px black) drop-shadow(2px 2px 0px black);
  
}

@media screen and (max-width: 1080px) {

  .twitter{
    transform:translate(-25%,-0%);
    width: 80%;

  }

}
/* --- 3: LINKS --- */

.icon {

  transition: transform .2s; 

}

.icon:hover {

  transform: scale(1.2);

}

 /* --- TEXT --- */

h1 {

   font-size: 300px;
   font-weight: bold;
   font-style: italic;


}

h2 {

  text-align: center;
  font-size: 2.5vw;
  font-weight: bold;
  font-style: italic;
  color: black;
  filter: drop-shadow(2px 2px 0px red) drop-shadow(2px 2px 0px white);

} @media screen and (max-width: 1080px) {

  h2 {
    font-size: 25px;
  }

}

a:link, a:visited { text-decoration: none; }

a { color: black; }

.handwriting { font-family: 'Gochi Hand', cursive; }

span > .space-1{

  width: 3%;
  height: 3%;

}

/*btn_background*/
