
/* --- COLORS --- */

.black { color: black; }

.white { color: white; }

.grey { color: gray; }

.blue{ color: blue; }


.transparant { opacity: 0.5; }

/* --- TRANSFORMS --- */

.tilt-left-5  { transform: rotate(-5deg); }

.tilt-right-5 { transform: rotate(5deg); }

.tilt-left-10 { transform: rotate(-10deg); }

.tilt-right-10 { transform: rotate(10deg); }

/* --- RESPONSIVES --- */

.only-mobile  { display: none; }

.only-desktop { display: block; }

@media all and (max-width: 999px) {

  .only-mobile  { display: block; }
  .only-desktop { display: none; }

}

/* --- TEXT --- */

.no-copy {

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none; 

}

.all-copy {  

  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all; 

}

/* --- FLEX LAYOUT --- */

.flex-center {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
} 

.flex-center-side {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

} 

.gap-50 {

  gap: 20px;

}
.absolute {

  position: absolute;
  margin-left: auto; 
  margin-right: auto; 
  width:100vw;
  transform:translate(20%,0%);
  bottom: 50px;

}@media screen and (max-width: 1080px) {

  .absolute {
    transform:translate(-40%,0%);
  }

}



.flex-updown {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


html body {
  
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
}
